@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #200343;
}

::-webkit-scrollbar-thumb {
  background-color: #3a93d1;
}

@font-face {
  font-family: "Avo Bold";
  src: url("../fonts/UTM AvoBold.ttf");
}

@font-face {
  font-family: "Avo";
  src: url("../fonts/UTM Avo.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  background-color: #200343;
  color: #fff;
  font-family: "Avo ", sans-serif;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

i,
li {
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  height: auto;
  padding-bottom: 15rem !important;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  display: inline-block;
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  background: #3a93d1;
  color: #fff;
  border: 0.3rem solid #3a93d1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-color: #fff;
  color: #3a93d1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: fixed;
  z-index: 100;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(15, 16, 32, 0.6);
  width: 100%;
  height: 80px;
  margin-top: -9px;
  font-family: "Avo";
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 2vw;
}

.header__logo img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__nav {
  font-size: 7rem;
  padding: 0 4rem;
}

.header__nav .open-mnav {
  display: none;
}

.header__nav .open-mnav:hover {
  -webkit-transform: rotateY(155deg);
          transform: rotateY(155deg);
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__nav ul li {
  margin: 0 2rem;
  position: relative;
}

.header__nav ul li .dropdown {
  display: none;
  position: absolute;
  right: 0;
  min-width: 200px;
  padding: 2rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(241, 62, 131, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(241, 62, 131, 0.2);
  background-color: #200343;
  z-index: 1;
}

.header__nav ul li .dropdown a {
  display: block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0.5rem;
}

.header__nav ul li:hover .dropdown {
  display: block;
}

.header__nav ul a:hover {
  color: #dc8e35;
}

.close-btn {
  height: 4rem;
  width: 4rem;
  background-color: var(--dark);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.close-btn::after, .close-btn::before {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 2rem;
  left: 50%;
  top: 50%;
  background-color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.close-btn::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.close-btn::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:hover::after, .close-btn:hover::before {
  background: #3a93d1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000ab;
  z-index: 998;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: fixed;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  height: 90vh;
  width: 60%;
  border-radius: 2rem;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  z-index: 999;
  padding: 1rem 2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: linear-gradient(135deg, #200343, #3a0e8a);
}

.modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__header h1 {
  font-size: 3.6rem;
  color: #3a93d1;
  font-weight: 700;
}

.modal__header-close {
  display: inline-block;
  font-size: 4rem;
}

.modal__body {
  margin-top: 4rem;
}

.modal__body p {
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 1.4rem;
}

.home {
  position: relative;
  height: 110vh;
  text-align: center;
}

.home img.banner {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.home__wrapper .title img {
  margin: -14rem 0 -10rem;
  width: 50%;
}

.home__wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.home__wrapper p {
  font-size: 1.6rem;
  max-width: 60%;
  margin: 2rem auto;
}

.home__wrapper-countdown {
  width: 400px;
  margin: 2vw auto;
  border-radius: 2rem;
  font-size: 5rem;
}

.home__wrapper-countdown .remain-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__wrapper-countdown .remain-day .day-box {
  font-size: 3rem;
  border: 0.3rem solid #3a93d1;
  border-radius: 1rem;
  display: block;
  width: 60px;
  height: 60px;
  margin: 1rem;
  padding: 0.6rem;
}

.home__wrapper-countdown .remain-day .text {
  font-size: 2rem;
  margin: 0 1.3rem;
  border: none;
}

.home__wrapper .btn-register {
  display: block;
  padding: 1rem 2.7rem;
  margin: 1vh auto 0;
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  background-color: #3a93d1;
  border: 0.3rem solid #3a93d1;
  border-radius: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home__wrapper .btn-register:hover {
  background-color: #fff;
  color: #3a93d1;
}

.counting {
  padding-top: 10vh;
}

.counting__img img {
  border-radius: 2rem;
}

.counting__content {
  font-size: 6rem;
  padding-left: 5vw;
}

.counting__item {
  margin: 3.5vw;
}

.counting__item .num {
  font-size: 6rem;
  margin-bottom: 1.2rem;
  font-weight: 800;
  color: #3a93d1;
  line-height: 6rem;
}

.counting__item .name {
  font-size: 2rem;
  font-weight: 800;
}

.rule .top {
  background: linear-gradient(135deg, #200343, #3a0e8a);
}

.rule .bottom {
  background-image: linear-gradient(-135deg, #200343, #16088f);
}

.rule__content {
  margin: 2vh 0;
  padding: 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 6rem;
}

.rule__content h1 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.rule__content li {
  position: relative;
  display: block;
  padding-left: 20px;
  margin: 1.5rem 0;
  font-size: 2rem;
}

.rule__content li .fa-solid {
  font-size: 1.4rem;
  position: absolute;
  top: 1rem;
  left: 0;
  color: #3a93d1;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #3a93d1;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.timeline--left {
  left: 0;
}

.container.timeline--right {
  left: 50%;
}

.container.timeline--right::after {
  left: -8px;
}

.container.timeline--right::before {
  left: 8px;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #3a93d1;
  border-radius: 16px;
  z-index: 1;
}

.container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #3a93d1;
  z-index: 1;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #fff;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 2.2rem;
  font-weight: normal;
  color: #3a93d1;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #200343;
}

.container .content p .fa-solid {
  font-size: 1.2rem;
  color: #3a93d1;
  display: inline-block;
  margin-right: 10px;
}

.container.timeline--left .date {
  right: -15rem;
}

.container.timeline--right .date {
  left: -15rem;
}

.container.timeline--right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}

.heading h1 {
  display: inline-block;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
  position: relative;
}

.heading h1::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  border-radius: 1.2rem;
  height: 0.6rem;
  background: #3a93d1;
}

.coming-soon {
  height: 80vh;
  font-size: 8.5rem;
}

.award {
  padding-top: 10vh;
}

.award__img {
  position: relative;
  height: 30rem;
  margin-bottom: 6.5rem;
}

.award__img:after {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #440d53;
  background: radial-gradient(circle, #440d53 0%, #684286 26%, rgba(187, 190, 241, 0) 62%);
  z-index: -1;
}

.award__img img {
  z-index: 10;
}

.award__item {
  margin-top: 4rem;
  text-align: center;
}

.award__item-title {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  color: #3a93d1;
  font-weight: bold;
}

.award__item-desc {
  color: #fff;
  font-size: 1.8rem;
}

.award__btn {
  margin-top: 3rem;
}

.sponsor {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sponsor__type {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: -2.5rem;
  text-align: center;
  color: #fff;
}

.sponsor__name {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  color: #fff;
}

.sponsor__row {
  margin-top: 5.6rem;
}

.sponsor__item {
  margin-top: 4.5rem;
}

.sponsor__img {
  width: 100%;
  height: 10rem;
  vertical-align: middle;
  background-color: #fff;
}

.organize__item {
  margin-top: 10rem;
}

.organize__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.organize__img img {
  border-radius: 1.4rem;
  height: 25.5rem;
}

.organize__body {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.organize__body-desc {
  margin: 2rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}

.organize__body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer {
  padding: 0 0 10rem;
}

.footer__title {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  margin: 6rem 0 3.5rem;
  color: #fff;
}

.footer__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  bottom: -1rem;
  left: 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social .footer__list-link i {
  font-size: 2.6rem;
  margin-right: 1.6rem;
}

.footer__list-item {
  padding: 1rem 0;
  display: block;
}

.footer__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.footer__list-link i {
  font-size: 1.8rem;
  margin-right: 1.2rem;
}

.footer__sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__sponsors .logo-gdg {
  width: 65%;
  margin-left: 1rem;
}

.footer__sponsors-item {
  padding: 1rem 0;
}

.footer__sponsors-item img {
  height: auto;
}

@media (min-width: 740px) {
  .award__img {
    height: 45.5rem;
  }
  .award__item {
    margin: 1rem 2rem;
  }
  .organize__body-desc {
    font-size: 1.6rem;
    margin: 0;
  }
  .organize__body-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sponsor__name {
    margin-top: 1.2rem;
    font-size: 1.6rem;
  }
  .sponsor__item {
    margin: 4.5rem -1rem 0;
  }
  .sponsor__img {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  section {
    min-height: 100vh;
  }
  .home__wrapper .title img {
    margin: -14rem 0 -10rem;
    width: 50%;
  }
  .award__item {
    margin: 0;
  }
  .sponsor__item {
    margin: 4.5rem -2rem 0;
  }
  .organize__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .organize__body-desc {
    font-size: 1.8rem;
  }
  .footer__title {
    font-size: 1.2rem;
  }
  .footer__social .footer__list-link i {
    font-size: 2.2rem;
    margin-right: 1rem;
  }
  .footer__list-link {
    font-size: 1.2rem;
  }
  .footer__list-link i {
    font-size: 1.4rem;
    margin-right: 0.6rem;
  }
}

@media (min-width: 1240px) {
  .footer__title {
    font-size: 1.8rem;
  }
  .footer__social .footer__list-link i {
    font-size: 2.8rem;
    margin-right: 2.5rem;
  }
  .footer__list-link {
    font-size: 1.4rem;
  }
  .footer__list-link i {
    font-size: 1.6rem;
  }
}

/* navbar responsive */
@media (max-width: 900px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    height: 100%;
  }
  .header__nav .open-mnav {
    position: absolute;
    top: 0;
    right: 2vw;
    display: block;
  }
  .header__nav ul {
    padding-top: 10vh;
    height: 100vh;
    display: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #dc8e35;
    width: 200px;
    padding-bottom: 65vh;
  }
  .header__nav ul li .dropdown {
    display: none;
    min-width: 160px;
    background-color: #9b601d;
  }
  .header__nav ul a:hover {
    color: #200343;
  }
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }
  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }
  .container.timeline--right {
    left: 0%;
  }
  .container.timeline--left::after,
  .container.timeline--right::after {
    left: 82px;
  }
  .container.timeline--left::before,
  .container.timeline--right::before {
    left: 100px;
    border-color: transparent #3a93d1 transparent transparent;
  }
  .container.timeline--left .date,
  .container.timeline--right .date {
    right: auto;
    left: 15px;
  }
  .container.timeline--left .icon,
  .container.timeline--right .icon {
    right: auto;
    left: 146px;
  }
  .container.timeline--left .content,
  .container.timeline--right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}

@media (max-width: 760px) {
  .home__wrapper h1 {
    font-size: 6rem;
  }
  .home__wrapper h3 {
    font-size: 2rem;
    font-weight: 200;
  }
  .home__wrapper p {
    font-size: 1.5rem;
    max-width: 60%;
    margin: 2rem auto;
  }
  .home-countdown {
    width: 400px;
  }
  .home-countdown .remain-day .day-box {
    font-size: 2rem;
  }
  .home-countdown .remain-day .text {
    font-size: 1.6rem;
  }
  .home .btn-register {
    margin: 3vh auto 0;
    font-size: 1.5rem;
  }
}

.text-section .text-part {
  font-size: 5rem;
}

.text-part {
  margin-bottom: 2rem;
}

.section-title .title {
  color: #3a93d1;
}

.section-content p {
  font-size: 1.5rem;
}

.bold-gray-text {
  font-weight: bold;
}

.pad-left {
  padding-left: 2rem;
}

.pad-top {
  padding-top: 2rem;
}

.pad-top-1-5 {
  padding-top: 1.5rem;
}
/*# sourceMappingURL=style.css.map */