//* color
$--color-primary: #0f1020;
$--color-text: #fff;
$--color-secondary: #f72585;
$--color-yellow:#DC8E35;
$--color-bg-primary: rgba(15,16,32,0.6);
//
@mixin flex-el {
  display: flex;
  align-items: center;
  height: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-weight: 400;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-weight: 300;
  background-color: $--color-primary;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: $--color-text;
  transition: 0.3s;
}
i,
li {
  display: inline-block;
}
img {
  width: 100%;
  height: 100%;
}
.btn {
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: $--color-secondary;
  color: $--color-text;
}


.header {
  @include flex-el;
  position: fixed;
  justify-content: space-between;
  background-color: $--color-bg-primary;
  width: 100%;
  height: 80px;
  z-index: 100;
  &__logo {
    @include flex-el;
    padding: 0 4rem;
    img {
      width: 50px;
      object-fit: contain;
    }
  }
  &__nav {
    font-size: 7rem;
    padding: 0 4rem;
    .open-mnav {
      display: none;
      &:hover {
        transform: rotateY(155deg);
      }
    }
    ul {
      @include flex-el;
      transition: 0.4s;
      li {
        margin: 0 2rem;
      }
      a:hover {
        color: $--color-yellow;
      }
    }
  }
}

.heading {
  text-align: center;
  margin-bottom: 8rem;
  h1 {
    display: inline-block;
    color: $--color-text;
    font-size: 3.6rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      border-radius: 1.2rem;
      height: 0.6rem;
      background: #f72585;
    }
  }
}

.organize {
  margin-bottom: 120rem;

  &__item {
    margin: 10rem 0;
  }
  &__img {
    display: flex;
    justify-content: center;
    img {
      height: 25.5rem;
      width: 25.5rem;
      object-fit: cover;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;

    &-desc {
      width: 80%;
      font-size: 1.8rem;
      font-weight: 500;
      color: $--color-text;
      margin: 4rem 0;
    }
  }
}

.footer {
  padding: 10rem 0;
  &__title {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    margin: 6rem 0 3.5rem;
    color: $--color-text;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: $--color-text;
      bottom: -1rem;
      left: 0;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    .footer__list-link i {
      font-size: 2.6rem;
      margin-right: 1.6rem;
    }
  }
  &__list {
    &-item {
      padding: 1rem 0;
    }
    &-link {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      i {
        font-size: 1.8rem;
        margin-right: 1.2rem;
      }
    }
  }
  &__sponsors {
    display: flex;
    &-item {
      margin-right: 1.8rem;

      font-size: 2.4rem; //test vi k co anh
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    &-item {
      font-size: 2.8rem;
      span {
        margin-left: 0.4rem;
      }
    }
  }
}

// Responsive

@media (min-width: 1113px) {
  .organize {
    &__body {
      align-items: flex-start;
      &-desc {
        margin-bottom: 4rem;
      }
    }
  }
  .footer {
    &__social {
      justify-content: center;
    }
  }
}

/* navbar responsive */
@media (max-width: 900px) {
  .header {
    &__nav {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: 100%;
      .open-mnav {
        position: absolute;
        top: 0;
        right: 82px;
        display: block;
      }
      ul {
        padding-top: 10vh;
        height: 100vh;
        display: none;
        align-items: flex-start;
        flex-direction: column;
        background-color: $--color-yellow;
        width: 200px;
        padding-bottom: 65vh;
        a:hover {
          color: $--color-primary;
        }
      }
    }
  }
}