@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #200343;
}

::-webkit-scrollbar-thumb {
  background-color: #3a93d1;
}

@font-face {
  font-family: "Avo Bold";
  src: url("../fonts/UTM AvoBold.ttf");
}
@font-face {
  font-family: "Avo";
  src: url("../fonts/UTM Avo.ttf");
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  background-color: #200343;
  color: #fff;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

i,
li {
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  height: auto;
  padding-bottom: 15rem !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-col {
  flex-direction: column;
}

.btn {
  display: inline-block;
  font-weight: 600;
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  background: #3a93d1;
  color: #fff;
  cursor: pointer;
  border: 0.3rem solid #3a93d1;
  transition: 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #3a93d1;
}

@-webkit-keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

@keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
#back-to-top {
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 5rem;
  right: 5rem;
  border-radius: 1.2rem;
  background: #3a93d1;
}
#back-to-top i {
  display: inline-block;
  font-size: 2.2rem;
  -webkit-animation: up 1.5s infinite;
          animation: up 1.5s infinite;
}

.header {
  display: flex;
  align-items: center;
  height: 100%;
  position: fixed;
  z-index: 100;
  justify-content: space-between;
  background-color: rgba(15, 16, 32, 0.6);
  width: 100vw;
  height: 80px;
  margin-top: -9px;
  font-family: "Avo";
}
.header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2vw;
}
.header__logo img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav {
  font-size: 7rem;
  padding: 0 4rem;
}
.header__nav .open-mnav {
  display: none;
}
.header__nav .open-mnav:hover {
  transform: rotateY(155deg);
}
.header__nav ul {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: -1;
  transition: 0.4s;
}
.header__nav ul li {
  margin: 0 2rem;
  position: relative;
}
.header__nav ul li .dropdown {
  display: none;
  position: absolute;
  right: 0;
  min-width: 200px;
  padding: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(241, 62, 131, 0.2);
  background-color: #200343;
  z-index: 1;
}
.header__nav ul li .dropdown a {
  display: block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0.5rem;
}
.header__nav ul li:hover .dropdown {
  display: block;
}
.header__nav ul a:hover {
  color: #dc8e35;
}

.close-btn {
  height: 4rem;
  width: 4rem;
  background-color: var(--dark);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.close-btn::after, .close-btn::before {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 2rem;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transition: 0.3s ease;
}
.close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-btn:hover::after, .close-btn:hover::before {
  background: #3a93d1;
  transform: translate(-50%, -50%);
}

.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3137254902);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: fixed;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  height: 90vh;
  width: 60%;
  border-radius: 2rem;
  transform: translate(-50%, -50%) scale(0);
  z-index: 999;
  padding: 1rem 2rem;
  opacity: 1;
  visibility: hidden;
  transition: all 0.5s ease;
  background: linear-gradient(135deg, #200343, #3a0e8a);
}
.modal__tab {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__tab-item {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  margin-right: 25px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  padding: 0.8rem 0;
  border-bottom: 2px solid transparent;
}
.modal__tab-item.tab-active {
  border-bottom: 2px solid #3a93d1;
}
.modal__list li {
  font-size: 2.4rem;
  padding: 1rem 2rem;
  display: block;
}
.modal.active {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__header-close {
  display: inline-block;
  font-size: 4rem;
}
.modal__company-name {
  font-size: 3.6rem;
  text-align: center;
  margin: 4rem 0;
  color: #3a93d1;
  font-weight: 700;
}
.modal__body p {
  letter-spacing: 1px;
  line-height: 1.5;
}
.modal__body-title {
  display: inline-block;
  margin-bottom: 2.4rem;
  font-size: 3.2rem;
}
.modal__body-desc {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.8rem;
}
.modal__body-desc a {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}
.modal__body-company-desc {
  display: inline-block;
  margin-top: 24px;
  font-size: 16px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.modal__body-company-desc p {
  display: block;
  padding: 1.4rem 0;
  font-size: 1.4rem;
  font-weight: 400;
}
.modal__body-company-desc p span {
  font-weight: inherit;
  display: block;
  font-size: inherit;
}
.modal__body-company-desc ul {
  list-style: armenian;
}
.modal__body-company-desc ul li {
  padding: 1rem 2rem;
  display: block;
  font-size: 1.4rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 55vh;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.home {
  position: relative;
  height: 110vh;
  text-align: center;
}
.home img.banner {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.home__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: absolute;
  z-index: 10;
  width: 100%;
}
.home__wrapper .title img {
  margin: -10rem 0 -3rem;
  width: 90%;
}
.home__wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.home__wrapper p {
  font-size: 1.6rem;
  max-width: 45%;
  margin: 2rem auto;
}
.home__wrapper-countdown {
  width: 600px;
  margin: 2vw auto 0;
  border-radius: 2rem;
  font-size: 5rem;
}
.home__wrapper-countdown .remain-day {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.home__wrapper-countdown .remain-day .day-box {
  font-size: 3rem;
  border: 0.3rem solid #3a93d1;
  border-radius: 100%;
  display: block;
  width: 100px;
  height: 100px;
  margin: 1rem 0.5rem;
  padding: 2.6rem;
}
.home__wrapper-countdown .remain-day .text {
  font-size: 2rem;
  margin: 0 0.8rem;
  margin-top: -20px;
  border: none;
}
.home__wrapper .btn-register {
  display: block;
  padding: 1rem 2.7rem;
  margin: 0.5vh auto 0;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  background-color: #3a93d1;
  border: 0.3rem solid #3a93d1;
  border-radius: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3s;
}
.home__wrapper .btn-register:hover {
  background-color: #fff;
  color: #3a93d1;
}

.counting {
  padding-top: 10vh;
}
.counting__img img {
  border-radius: 2rem;
}
.counting__content {
  font-size: 6rem;
  padding-left: 5vw;
}
.counting__item {
  margin: 3.5vw;
}
.counting__item .num {
  font-size: 6rem;
  margin-bottom: 1.2rem;
  font-weight: 800;
  color: #3a93d1;
  line-height: 6rem;
}
.counting__item .name {
  font-size: 2rem;
  font-weight: 800;
}

.rule .top {
  background: linear-gradient(135deg, #200343, #3a0e8a);
}
.rule .bottom {
  background-image: linear-gradient(-135deg, #200343, #16088f);
}
.rule__content {
  margin: 2vh 0;
  padding: 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 6rem;
}
.rule__content h1 {
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.rule__content li {
  position: relative;
  display: block;
  padding-left: 20px;
  margin: 1.5rem 0;
  font-size: 1.6rem;
}
.rule__content li .fa-solid {
  font-size: 1.4rem;
  position: absolute;
  top: 1rem;
  left: 0;
  color: #3a93d1;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #3a93d1;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}
.container.timeline--left {
  left: 0;
}
.container.timeline--right {
  left: 50%;
}
.container.timeline--right::after {
  left: -8px;
}
.container.timeline--right::before {
  left: 8px;
}
.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #3a93d1;
  border-radius: 16px;
  z-index: 1;
}
.container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #3a93d1;
  z-index: 1;
}
.container .date {
  width: 20rem;
  height: 4rem;
  position: absolute;
  display: inline-block;
  top: calc(50% - 15px);
  text-align: center;
}
.container .date span {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}
.container .content {
  padding: 30px 90px 30px 30px;
  background: #fff;
  position: relative;
  border-radius: 0 500px 500px 0;
}
.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 1.8rem;
  color: #3a93d1;
  font-size: "Avo Bold";
}
.container .content span {
  font-size: 1.4rem;
  color: #200343;
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
}
.container .content p {
  margin: 0;
  font-size: 1.4rem;
  line-height: 22px;
  color: #200343;
}
.container .content p .fa-solid {
  font-size: 1.2rem;
  color: #3a93d1;
  display: inline-block;
  margin-right: 10px;
}

.container.timeline--left .date {
  right: -18rem;
}

.container.timeline--right .date {
  left: -22rem;
  text-align: right;
}

.container.timeline--right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.heading {
  margin-bottom: 4rem;
}
.heading__left, .heading__center {
  display: inline-block;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  position: relative;
}
.heading__left::after, .heading__center::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10%;
  border-radius: 1.2rem;
  height: 0.6rem;
  background: linear-gradient(-135deg, rgba(27, 14, 151, 0.6235294118), #3a93d1);
  right: -1rem;
  transform: translate(100%, -50%);
}
.heading__center::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 10%;
  border-radius: 1.2rem;
  height: 0.6rem;
  background: linear-gradient(90deg, rgba(27, 14, 151, 0.6235294118), #3a93d1);
  transform: translate(-100%, -50%);
  left: -1rem;
}

.coming-soon {
  height: 80vh;
  font-size: 8.5rem;
}

.award {
  padding-top: 10vh;
}
.award__item {
  margin-top: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.award__item-img {
  height: auto;
  width: 60%;
  margin-bottom: 2rem;
}
.award__item-title {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  color: #3a93d1;
  font-weight: bold;
}
.award__item-desc {
  color: #fff;
  font-size: 1.8rem;
}
.award__btn {
  margin-top: 6.5rem;
}

.sponsor {
  flex-direction: column;
}
.sponsor__type {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: -2.9rem;
  text-align: center;
  color: #fff;
}
.sponsor__name {
  margin-top: 0.8em;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 1.6rem;
}
.sponsor__row {
  margin-top: 5.6rem;
}
.sponsor__item {
  margin-top: 4.5rem;
  cursor: pointer;
}
.sponsor__img {
  width: 100%;
  height: 10rem;
  vertical-align: middle;
}
.sponsor__img .sponsor__brozen {
  height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
}
.sponsor__img img {
  height: auto;
}

.organize__item {
  margin-top: 4rem;
}
.organize__img {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.organize__img img {
  border-radius: 1.4rem;
  height: 25.5rem;
}
.organize__body {
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.organize__body-heading {
  margin-top: 2rem;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0 2rem;
}
.organize__body-desc {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.4rem;
  color: #fff;
  padding: 0 2rem;
}
.organize__body-footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer {
  padding: 0 0 5rem;
}
.footer__title {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  margin: 6rem 0 3.5rem;
  color: #fff;
}
.footer__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  bottom: -1rem;
  left: 0;
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social .footer__list-link i {
  font-size: 2.6rem;
  margin-right: 1.6rem;
}
.footer__list-item {
  padding: 0.8rem 0;
  display: block;
}
.footer__list-link {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.footer__list-link i {
  margin-right: 1.2rem;
}
.footer__list-link span {
  display: inline-block;
  font-size: 1.4rem;
  width: 17rem;
  position: relative;
}
.footer__list-link span::after {
  content: ":";
  position: absolute;
  right: 0;
  margin-right: 1rem;
}
.footer__sponsors {
  display: flex;
  flex-direction: column;
}
.footer__sponsors .logo-gdg {
  width: 75%;
  margin-left: 1rem;
}
.footer__sponsors-item {
  padding: 1rem 0;
}
.footer__sponsors-item img {
  height: auto;
}

@media (min-width: 740px) {
  .home__wrapper .title img {
    margin: -15rem 0 -10rem;
    width: 100%;
  }
  .organize__body-heading {
    font-size: 2.5rem;
  }
  .organize__body-desc {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  .organize__body-footer {
    justify-content: flex-start;
  }
  .sponsor__name {
    margin-top: 0.4rem;
    font-size: 1.6rem;
  }
  .sponsor__item {
    margin: 4.5rem -1rem 0;
  }
  .sponsor__img {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  section {
    min-height: 100vh;
  }
  .home__wrapper .title img {
    margin: -5rem 0;
    width: 60%;
  }
  .award__item {
    margin: 0;
  }
  .award__item-img {
    height: 25rem;
    width: 100%;
  }
  .sponsor__item {
    margin: 4.5rem -2rem 0;
  }
  .organize__body {
    align-items: flex-start;
  }
  .organize__body-desc {
    font-size: 1.8rem;
  }
  .footer__title {
    font-size: 1.2rem;
  }
  .footer__social .footer__list-link i {
    font-size: 2.2rem;
    margin-right: 1rem;
  }
  .footer__list-link {
    font-size: 1.2rem;
  }
  .footer__list-link i {
    font-size: 1.4rem;
    margin-right: 0.6rem;
  }
}
@media (min-width: 1240px) {
  .heading {
    margin-bottom: 4rem;
  }
  .heading__left, .heading__center {
    font-size: 3.6rem;
  }
  .heading__left::after, .heading__center::after {
    width: 30%;
  }
  .heading__center::before {
    width: 30%;
  }
  .home__wrapper .title img {
    margin: -15rem 0 -11rem;
    width: 60%;
  }
  .award__item-img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer__title {
    font-size: 1.8rem;
  }
  .footer__social .footer__list-link i {
    font-size: 2.8rem;
    margin-right: 2.5rem;
  }
  .footer__list-link {
    font-size: 1.4rem;
  }
  .footer__list-link i {
    font-size: 1.6rem;
  }
}
/* navbar responsive */
@media (max-width: 900px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
  }
  .header__nav .open-mnav {
    position: absolute;
    top: 0;
    right: 2vw;
    display: block;
  }
  .header__nav ul {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 10vh;
    height: 100vh;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    background-color: #dc8e35;
    width: 30rem;
    padding-bottom: 65vh;
    right: 0;
  }
  .header__nav ul li .dropdown {
    display: none;
    min-width: 160px;
    background-color: #9b601d;
  }
  .header__nav ul a:hover {
    color: #200343;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding: 0 2rem;
  }
  .timeline::after {
    left: 90px;
  }
  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }
  .container.timeline--right {
    left: 0%;
  }
  .container.timeline--left::after,
.container.timeline--right::after {
    left: 82px;
  }
  .container.timeline--left::before,
.container.timeline--right::before {
    left: 100px;
    border-color: transparent #3a93d1 transparent transparent;
  }
  .container.timeline--left .date {
    right: auto;
    left: -55px;
  }
  .container.timeline--left .date span {
    font-size: 1.5rem;
    display: inline-block;
    width: 35px;
  }
  .container.timeline--right .date {
    right: auto;
    left: -135px;
  }
  .container.timeline--right .date span {
    font-size: 1.5rem;
    display: inline-block;
    width: 35px;
  }
  .container.timeline--left .icon,
.container.timeline--right .icon {
    right: auto;
    left: 156px;
  }
  .container.timeline--left .content,
.container.timeline--right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
@media (max-width: 760px) {
  .home__wrapper h1 {
    font-size: 6rem;
  }
  .home__wrapper h3 {
    font-size: 2rem;
    font-weight: 200;
  }
  .home__wrapper p {
    font-size: 1.5rem;
    max-width: 60%;
    margin: 2rem auto;
  }
  .home__wrapper-countdown {
    width: 400px;
  }
  .home__wrapper-countdown .remain-day .day-box {
    font-size: 2rem;
    width: 60px;
    height: 60px;
    padding: 1.3rem 0 0;
  }
  .home__wrapper-countdown .remain-day .text {
    font-size: 1.6rem;
  }
  .home .btn-register {
    margin: 1.5vh auto 0;
    font-size: 1.5rem;
  }
}
.text-section .text-part {
  font-size: 5rem;
}

.text-part {
  margin-bottom: 2rem;
}

.section-title .title {
  color: #3a93d1;
}

.section-content {
  text-align: justify;
}
.section-content p {
  font-size: 1.5rem;
}

.bold-gray-text {
  font-weight: bold;
}

.pad-left {
  padding-left: 2rem;
}

.pad-top {
  padding-top: 2rem;
}

.pad-top-1-5 {
  padding-top: 1.5rem;
}/*# sourceMappingURL=style.css.map */