@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-weight: 300;
  background-color: #0f1020;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

i,
li {
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  min-height: 100vh;
  padding-bottom: 15rem !important;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  display: inline-block;
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  background: #f72585;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}

.heading h1 {
  display: inline-block;
  color: #fff;
  font-size: 3.6rem;
  position: relative;
}

.heading h1::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  border-radius: 1.2rem;
  height: 0.6rem;
  background: #f72585;
}

.sponsor {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sponsor__type {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: -2.5rem;
  text-align: center;
  color: #fff;
}

.sponsor__name {
  margin-top: 1.2rem;
  font-size: 1.6rem;
  color: #fff;
}

.sponsor__row {
  margin-top: 5.6rem;
}

.sponsor__item {
  margin-top: 4.5rem;
}

.sponsor__img {
  width: 100%;
  height: 10rem;
  vertical-align: middle;
  background-color: #fff;
}

.organize__item {
  margin: 10rem 0;
}

.organize__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.organize__img img {
  height: 25.5rem;
  width: 100%rem;
}

.organize__body {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.organize__body-desc {
  margin: 2rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}

.organize__body-footer {
  width: 100%;
}

.footer {
  padding: 10rem 0;
}

.footer__title {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  margin: 6rem 0 3.5rem;
  color: #fff;
}

.footer__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  bottom: -1rem;
  left: 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social .footer__list-link i {
  font-size: 2.6rem;
  margin-right: 1.6rem;
}

.footer__list-item {
  padding: 1rem 0;
}

.footer__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.footer__list-link i {
  font-size: 1.8rem;
  margin-right: 1.2rem;
}

.footer__sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__sponsors-item {
  margin-right: 1.8rem;
  font-size: 2.4rem;
}

@media (min-width: 740px) {
  .organize__body-desc {
    font-size: 1.6rem;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .organize__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .organize__body-desc {
    font-size: 1.8rem;
  }
  .footer__title {
    font-size: 1.2rem;
  }
  .footer__social .footer__list-link i {
    font-size: 2.2rem;
    margin-right: 1rem;
  }
  .footer__list-link {
    font-size: 1.2rem;
  }
  .footer__list-link i {
    font-size: 1.4rem;
    margin-right: 0.6rem;
  }
}
/*# sourceMappingURL=style.css.map */