//* color
$--color-primary: #0f1020;
$--color-text: #fff;
$--color-secondary: #f72585;
$--color-yellow: #dc8e35;
$--color-yellow-darker: #9b601d;
$--color-bg-primary: rgba(15, 16, 32, 0.6);
//
@mixin flex-el {
  display: flex;
  align-items: center;
  height: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Quicksand:wght@300;400;500;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-weight: 300;
  background-color: $--color-primary;
  color: $--color-text;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: $--color-text;
  transition: 0.3s;
}
i,
li {
  display: inline-block;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  height: auto;
  padding-bottom: 15rem !important;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.btn {
  display: inline-block;
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  background: $--color-secondary;
  color: $--color-text;
}

.header {
  @include flex-el;
  position: fixed;
  z-index: 100;
  justify-content: space-between;
  background-color: $--color-bg-primary;
  width: 100%;
  height: 80px;
  margin-top: -9px;
  &__logo {
    @include flex-el;
    padding: 0 2vw;
    img {
      width: 50px;
      object-fit: contain;
    }
  }
  &__nav {
    font-size: 7rem;
    padding: 0 4rem;
    .open-mnav {
      display: none;
      &:hover {
        transform: rotateY(155deg);
      }
    }
    ul {
      @include flex-el;
      transition: 0.4s;
      li {
        margin: 0 2rem;
        position: relative;
        .dropdown {
          display: none;
          position: absolute;
          right: 0;
          min-width: 200px;
          padding: 2rem;
          box-shadow: 0px 8px 16px 0px rgba(241, 62, 131, 0.2);
          background-color: $--color-primary;
          z-index: 1;
          a {
            display: block;
            font-size: 1.6rem;
            line-height: 1.5;
            margin: 0.5rem;
          }
        }
        &:hover .dropdown {
          display: block;
        }
      }
      a:hover {
        color: $--color-yellow;
      }
    }
  }
}

.home {
  position: relative;
  height: 110vh;
  text-align: center;
  img.banner {
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__wrapper {
    @include flex-el;
    justify-content: center;
    position: absolute;
    z-index: 10;
    width: 100%;
    h1 {
      font-size: 8rem;
    }
    h3 {
      font-size: 3rem;
      font-weight: 200;
    }
    p {
      font-size: 1.6rem;
      max-width: 60%;
      margin: 2rem auto;
    }
    
    &-countdown {
      // background-color: $--color-bg-primary;
      width: 400px;
      margin: 3vw auto;
      border-radius: 2rem;
      font-size: 5rem;
      // box-shadow: 0px 4px 20px 0px rgba(255, 32, 117, 0.2);
      .remain-day {
        @include flex-el;
        justify-content: center;
        .day-box {
          font-size: 3rem;
          border: 0.3rem solid $--color-secondary;
          border-radius: 1rem;
          display: block;
          width: 60px;
          height: 60px;
          margin: 1rem;
          padding: 0.6rem;
        }
        .text {
          font-size: 2rem;
          margin: 0 1.3rem;
          border: none;
        }
      }
    }   
    .btn-register {
      display: block;
      padding: 1rem 2.7rem;
      margin: 5vh auto 0;
      font-size: 1.7rem;
      font-weight: bold;
      color: $--color-text;
      background-color: $--color-secondary;
      border: 0.3rem solid $--color-secondary;
      border-radius: 2.5rem;
      width: fit-content;
      transition: 0.3s;
      &:hover {
        background-color: $--color-text;
        color: $--color-secondary;
      }
    }
  }
}

.counting {
  padding-top: 10vh;
  &__img {
    img {
      border-radius: 2rem;
    }
  }
  &__content {
    font-size: 6rem;
    padding-left: 5vw;
  }
  &__item {
    margin: 3.5vw;
    .num {
      font-size: 6rem;
      font-weight: 800;
      color: $--color-secondary;
      line-height: 6rem;
    }
    .name {
      font-size: 2rem;
      font-weight: 800;
    }
  }
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
  h1 {
    display: inline-block;
    color: $--color-text;
    font-size: 3.6rem;
    font-weight: 700;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      border-radius: 1.2rem;
      height: 0.6rem;
      background: #f72585;
    }
  }
}

.award {
  &__img {
    height: 30rem;
    margin-bottom: 6.5rem;
  }
  &__item {
    margin-top: 4rem;
    text-align: center;
    &-title {
      font-size: 4rem;
      margin-bottom: 1.5rem;
      color: $--color-secondary;
      font-weight: bold;
    }
    &-desc {
      color: $--color-text;
      font-size: 1.8rem;
    }
  }
  &__btn {
    margin-top: 3rem;
  }
}

// SPONSOR

.sponsor {
  flex-direction: column;
  &__type {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: -2.5rem;
    text-align: center;
    color: $--color-text;
  }
  &__name {
    margin-top: 0.8rem;
    font-size: 1.4rem;
    color: $--color-text;
  }
  &__row {
    margin-top: 5.6rem;
  }
  &__item {
    margin-top: 4.5rem;
  }
  &__img {
    width: 100%;
    height: 10rem;
    vertical-align: middle;
    background-color: #fff;
  }
}

// ORGANIZE
.organize {
  &__item {
    margin-top: 10rem;
  }
  &__img {
    display: flex;
    justify-content: center;
    img {
      height: 25.5rem;
      width: 100%rem;
    }
  }
  &__body {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    &-desc {
      margin: 2rem 0;
      font-size: 1.4rem;
      font-weight: 500;
      color: $--color-text;
    }
    &-footer {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}

.footer {
  padding: 0 0 10rem;
  &__title {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    margin: 6rem 0 3.5rem;
    color: $--color-text;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: $--color-text;
      bottom: -1rem;
      left: 0;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    .footer__list-link i {
      font-size: 2.6rem;
      margin-right: 1.6rem;
    }
  }
  &__list {
    &-item {
      padding: 1rem 0;
      display: block;
    }
    &-link {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      i {
        font-size: 1.8rem;
        margin-right: 1.2rem;
      }
    }
  }
  &__sponsors {
    display: flex;
    &-item {
      margin-right: 1.8rem;

      font-size: 2.4rem; //test vi k co anh
    }
  }
}

// Responsive
@media (min-width: 740px) {
  .award {
    &__img {
      height: 45.5rem;
    }
    &__item {
      margin: 1rem 2rem;
    }
  }
  .organize {
    &__body {
      &-desc {
        font-size: 1.6rem;
        margin: 0;
      }
      &-footer {
        justify-content: flex-start;
      }
    }
  }
  .sponsor {
    &__name {
      margin-top: 1.2rem;
      font-size: 1.6rem;
    }
    &__item {
      margin: 4.5rem -1rem 0;
    }
    &__img {
      width: 80%;
    }
  }
}

@media (min-width: 1024px) {
  section {
    min-height: 100vh;
  }
  .award {
    &__item {
      margin: 0;
    }
  }
  .sponsor {
    &__item {
      margin: 4.5rem -2rem 0;
    }
  }
  .organize {
    &__body {
      align-items: flex-start;
      &-desc {
        font-size: 1.8rem;
      }
    }
  }
  .footer {
    &__title {
      font-size: 1.2rem;
    }
    &__social {
      .footer__list-link i {
        font-size: 2.2rem;
        margin-right: 1rem;
      }
    }
    &__list {
      &-link {
        font-size: 1.2rem;
        i {
          font-size: 1.4rem;
          margin-right: 0.6rem;
        }
      }
    }
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .footer {
  }
}
@media (min-width: 1240px) {
  .footer {
    &__title {
      font-size: 1.8rem;
    }
    &__social {
      .footer__list-link i {
        font-size: 2.8rem;
        margin-right: 2.5rem;
      }
    }
    &__list {
      &-link {
        font-size: 1.4rem;
        i {
          font-size: 1.6rem;
        }
      }
    }
  }
}

/* navbar responsive */
@media (max-width: 900px) {
  .header {
    &__nav {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: 100%;
      .open-mnav {
        position: absolute;
        top: 0;
        right: 2vw;
        display: block;
      }
      ul {
        padding-top: 10vh;
        height: 100vh;
        display: none;
        align-items: flex-start;
        flex-direction: column;
        background-color: $--color-yellow;
        width: 200px;
        padding-bottom: 65vh;
        li {
          .dropdown {
            display: none;
            min-width: 160px;
            background-color: $--color-yellow-darker;
          }
        }
        a:hover {
          color: $--color-primary;
        }
      }
    }
  }
}
